# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. tensorflow
2. Pandas
3. NumPy

|Tools|
|---|
|Flink|
|Python|
|Node-Red|
|Apache Spark|
|Jupyter Notebook|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5  #This a simple arithmetic expression to mutiply then add integers

17

In [8]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- arithmetic expressions 
- makrdown creating

## Author
Kacper